*{
   font-family: Raleway;
}
.container{
max-width: 1140px;
width: 100%;
margin: 0 auto;
}

.container .input{
color: rgba(68, 68, 68, 50%);
outline: none;
border: none;
border-bottom: 1px solid rgba(68, 68, 68, 20%);
width: 100%;
padding: 0 0 15px 0;
}

.container .button-wrapper{
    display: flex;
    gap: 2px;
    align-items: center;
    max-width: 240px;
    width: 100%;
    cursor: pointer;
}

.container .button-wrapper .button{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
     border: none;
    background: #000000;
    padding: 17px 74px;
    cursor: pointer;
}

.container .button-wrapper .vertical-line{
    width: 2px;
    height: 100%;
    background: #000000;
}