footer{

}
 
footer .footer-info{
    margin: 0 0 90px 0;
    display: flex;
  
}

footer .footer-info .column{

}

footer .footer-info .column .title,
footer .footer-info .column .title{
font-family: Josefin Sans;
font-weight: 400;
font-size: 20px;
line-height: 120%;
}

footer .footer-info .column.column-1{
max-width: 331px;
margin: 0 60px 0 0;
}

footer .footer-info .column.column-2{
    margin: 0 100px 0 0;
}

footer .footer-info .column.column-3{
max-width: 319px;
width: 100%;
}

footer .footer-info .column.column-2,
footer .footer-info .column.column-3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .footer-info .column.column-2 .links,
footer .footer-info .column.column-3 .links{
display: flex;
flex-direction: column;
gap: 12px;
}

footer .footer-info .column.column-2 .links a,
footer .footer-info .column.column-3 .links a{
text-decoration: none;
font-family: Raleway;
font-weight: 400;
font-size: 14px;
color: #444444;
}

footer .footer-info .column.column-4 .links{
max-width: 361px;
}

footer .footer-info .column.column-4 .title{
margin: 0 0 16px 0;
}

footer .footer-info .column.column-4 .newsletter-text{
margin: 0 0 36px 0;
}

footer .footer-info .column.column-4 .newsletter-form{
position: relative;
}

footer .footer-info .column.column-4 .newsletter-form .newsletter-email{
width: 100%;
border: none;
border-bottom: 1px solid #444444;
padding: 0 0 16px 0;
font-family: Raleway;
font-weight: 400;
font-size: 14px;
outline: none;
}

footer .footer-info .column.column-4 .newsletter-form .send-icon{
position: absolute;
right: 0;
}

footer .footer-info .column .logo{
margin: 0 0 25px 0;
}

footer .footer-info .column .about-brand{
padding: 0 0 25px 0;
border-bottom: 1px solid #444444;
max-width: 331px;
margin: 0 0 35px 0;
}
footer .footer-info .column .find-us{

}
 
footer .footer-info .column .find-us .find-us-links{
    display: flex;
    gap: 15px;
    align-items: center;
}

footer .footer-info .column .find-us .find-us-links .find-us-link a{
    text-decoration: none;
}

footer .footer-info .column .find-us .find-us-links .line{
border-bottom: 1px solid #444444;
width: 10px;
height:1px;
align-items: center;
}

footer .footer-info .column .find-us .find-us-text{
    margin: 0 0 20px 0;
}

footer .footer-info{

}

footer .copyright{
display: flex;
justify-content: space-between;
gap: 15px;
border-top: 1px solid #444444;
padding-top: 23px;
 }
footer .copyright .payment-methods-container{
    display: flex;
    gap: 13px;
    align-items: center;
 }

footer .copyright .payment-methods-container .payment-methods{
    display: flex;
    gap: 13px;
 }

