header{
margin: 50px auto 0 auto;
display: flex;
justify-content: space-between;
}

header .left-side{
  display: flex;
  gap: 65px;
  align-items: center;
}

header .left-side .logo-container{
display: flex;
gap: 40px;
align-items: center;
}

#burger-checkbox{
display: none;
}

header .left-side .logo-container .burger-menu .burder-checkbox {
  position: absolute;
  visibility: hidden;
}

header .left-side .logo-container .burger-menu .burger{
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 22px;
  height: 14px;
  }

header .left-side .logo-container .burger-menu .burger::before,
header .left-side .logo-container .burger-menu .burger::after{
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: #000;
  }

header .left-side .logo-container .burger-menu .burger::before{
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

header .left-side .logo-container .burger-menu .burger::after{
  bottom: 6.5px;
  transition: bottom .3s .15s, transform .3s;
}

header .left-side .logo-container .burger-menu .burger-checkbox:checked + .burger::before{
  top: 2px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
  width: 22px;
}

header .left-side .logo-container .burger-menu .burger-checkbox:checked + .burger::after{
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}

header .left-side .logo-container .logo{
display: flex;
}

header .left-side .menu{
display: flex;
gap: 40px;
align-items: center;
}

header .left-side .menu-item{
cursor: pointer;
display: flex;
align-items: center;
gap: 4px;
font-weight: 500;
font-size: 14px;
line-height: 16px;
}

header .left-side .menu-item .arrow-hover{
display: none;
}

header .left-side .menu-item.active,
header .left-side .menu-item:hover {
color: #ff8E8E;
}

header .left-side .menu-item.active 
header .left-side .menu-item:hover .arrow-default{
display: none;
}

header .left-side .menu-item.active .arrow-default{
display: none;
}

header .left-side .menu-item.active .arrow-hover{
display: inline-block;
}

header .left-side .menu-item:hover .arrow-hover{
display: inline-block;
}

header .left-side .menu-item:hover .arrow-default{
display: none;
}

header .right-side{
display: flex;
gap: 40px;
align-items: center;
}

header .right-side .header-icon{
display: flex;
align-items: center;
gap: 4px;
}

header .right-side .header-icon .counter{
background: black;
color: white;
border-radius: 50%;
padding:3px 7px;
font-weight: 700;
font-size: 14px;
line-height:14px;
text-align: right;
 }
