.shop{
display: flex;
gap: 50px;
}

.shop .sidebar{
max-width: 244px;
width: 100%;
display: flex;
flex-direction: column;
gap: 50px;
}

.shop .sidebar .searche {
  position: relative;
}

.shop .sidebar .searche .searche-row{
padding:0 25px 15px 0;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}

 .shop .sidebar .searche-icon{
 position: absolute;
 right: 0;
 top: 0;
 }

 .shop .sidebar .sidebar-item{
  display: flex;
  flex-direction: column;
  gap: 30px;
 }

 .shop .sidebar .sidebar-item .sidebar-title{
font-family: Josefin Sans;/*добавить шрифт*/
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: left;
border-bottom: 2px solid rgba(0, 0, 0, 1);
padding-bottom: 15px;
}

   .shop .sidebar .sidebar-item .sidebar-content .categories-list{
   margin: 0 0 0 30px;
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 17px;
   margin: 0 0 0 20px;
   }


.shop .sidebar .sidebar-item .sidebar-content .categories-list .category{
   color: #444444;
   display: flex;
   align-items: center;
   gap: 15px;
   cursor: pointer;
   }

.shop .sidebar .sidebar-item .sidebar-content .categories-list .category::before{
      content: "";
       display: block;
       width: 5px;
       height: 5px;
       background-image:url("../icons/square.svg");
   }

.shop .sidebar .sidebar-item .sidebar-content .categories-list .category.active{
      color: #FF8E8E;
      
    }

.shop .sidebar .sidebar-item .sidebar-content .categories-list .category.active::before{
    content: "";
    background-image:url("../icons/small-row.svg"); 
    display: block;
    width: 25px;
    height: 3px;
    }
 
.shop .sidebar .sidebar-item .sidebar-content .price-bar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
    }

.shop .sidebar .sidebar-item .sidebar-content .colors{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 0 0 20px;
    }

 .shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox{
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox+.color-name{
      display: inline-flex;
      align-items: center;
      user-select: none;
        }

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox+.color-name::before{
          content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid rgba(238, 238, 238, 1);
        margin-right:15px;
        background-repeat: no-repeat;
        background-position: center center;
        box-sizing: border-box;
         }

          .shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox:checked+.color-name{
            color: #FF8E8E;
          }

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox:checked+.color-name::before{
    background-image: url("../icons/check-pink.svg");
         }

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products{
   display: flex;
   flex-direction: column;
   gap: 20px;     
}
 
.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product{
  display: flex;
  gap: 15px;
  align-items: center;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .imeg{
  width: 75px;
  height: 85px;
  background:#F1F2F3;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info{
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info .price{
  display: flex;
  gap: 10px;
}
.shop .products-wrapper{
max-width: 846px;
width: 100%;
display: flex;
flex-direction: column;
gap: 40px;
}
 .shop .products-wrapper .sort-and-count{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
 }

 .shop .products-wrapper .sort-and-count .bold{
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
 }

 .shop .products-wrapper .products{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;
 }

  .shop .products-wrapper .products .product{
    max-width: 262px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .shop .products-wrapper .products .product .photo{
    height: 360px;  /*убрать жесткую величину*/
    background: #F1F2F3;
    position: relative;
  }

  .shop .products-wrapper .products .product .photo .top-bar{
    position: absolute;
    top: 15px;
    left: 20px;
    display:flex;
    justify-content:space-between;
    width:100%;
    max-width: 222px;
  }

  .shop .products-wrapper .products .product .photo .top-bar .labels{
    display: flex;
    gap: 15px;
  }

    .shop .products-wrapper .products .product .info{
        display: flex;
        flex-direction: column;
        gap: 9px;
    }
     .shop .products-wrapper .products .product .info .name{

     }

      .shop .products-wrapper .products .product .info .price{
        display: flex;
        gap: 15px;
      }
      
 .shop .products-wrapper .pagination{
display: flex;
width: 100%;
flex-direction: row;
justify-content:center;
gap: 30px;
align-items: center;
 }

  .shop .products-wrapper .pagination .pages{
    display: flex;
    justify-content: space-between;
    gap: 20px;
   
  }

  
  .shop .products-wrapper .pagination .pages{

  }

    
  .shop .products-wrapper .pagination .pages .active{
    
  }